body {
			
	background-color:#2E8B57; 
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.full_body{
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}


.topnav {/******* navber start**********/
  overflow: hidden;
  background-color: #333;
  padding: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.contact-form1{
      flex: 3;
      background:rgba(0,0,0, .6);
      color:white;
      margin-top: 5px;
      padding: 20px;
      display: flex;
      box-shadow: 0px 0px 10px 2px grey;
}

hr{
   background: white;  
}

.contact-form{
      flex: 3;
      background:rgba(0,0,0, .6);
      color:white;
      margin-top: 20px;
      margin-right: 20px;
      padding: 20px;    
      box-shadow: 0px 0px 10px 3px grey;
}
.show_all_task{
  flex: 3;
  text-align: center;
  margin-left: 20px;
  margin-top: 30px;
}

#input-group{

 resize: vertical;
  top:10px;
  width: 400px;
  height: 35px;
  font-size: 16px;
  border-radius: 8px;
}
.st_div{
  width: 100%;
  height: 100px;
}
.nd_div{
  width: 100%;
  height: 100px;
}
.rd_div{
  width: 100%;
  height: 100px;
}
#submit_btn{
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: lightblue;
}

.footer{
  width: 100%;
  height: 200px;
  flex: 1;
  bottom: 0px;
  right: 0px;
  left: 0px; 
}







