body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#2E8B57;
}
.full_body{
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}


.topnav {/******* navber start**********/
  overflow: hidden;
  background-color: #333;
  padding: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}/******* navber off**********/








/* Start of month and year*/



fieldset.date {
	position:center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: .5em;
  display: block;
  border: none;
}
/* end of motnh and year */



.button {
    background-color: white; /* Green */
    border: 10px;
    color: black;
    padding: 20px;

  

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button5 {border-radius: 50%;}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color:black;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  background-color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: lightblue;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.add_note{
  background-color: purple;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.add_event{
  background-color: purple;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.add_remainder{
  background-color: purple;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.add_daily_task{
  background-color: purple;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



td:hover { 

 background-color:white;
  color: red;
    
}
.tabl1{
	color:white;
		
	
}
.month{
	color:white;
}
/* table close */




.firstDiv{
	height: 300px;
	
	
}
.intoText{
	color:white;
}
.calander{
	
	margin:0px 0px 0px 0px;
}

.footer{
  width: 100%;
  height: 200px;
  flex: 1;
  bottom: 0px;
  right: 0px;
  left: 0px; 
}
h1{
	color:white;
}
.i1{
	width:70px;
}
label{
	color:white;
}
.hr1{
  background-color: white;
}



